/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    body{
        background-color: #FFF;
        margin:0px;
        padding:0px;
        overflow-x: hidden;

        button{
            &:active{
                outline: none !important;
                border: none !important;
            }

            &:focus{
                outline: none !important;
                border: 0 !important; 
            }

            &:hover{
                cursor: pointer;
            }
        }

        input{
            &:hover{
                cursor: pointer;
            }

            &:active{
                outline: none !important;
            }

            &:focus{
                outline: none !important; 
            }
        }

        /*LOGIN STYLING*/

        #login{
            width: 100%;
            height: 100vh;
            padding: 5%;

            .logo{
                background-color: gray;
                width:100%;
                height:100px;
            }

            .pitch{
                margin-top: 10px;
                text-align: center;
            }

            .after-pitch{
                margin-top: 5px;
                display: inline-block;
                margin-right: 2px;
            }

            .btn-login{
                width: 100%;
                padding: 20px;
                background-color: blue;
                color: white;
                display: inherit;
                text-align: center;
            }

            .link-read-more{
                color: #373a3c;
                text-decoration: underline;
            }

            .terms-and-conditions-0{
                text-align: center;
            }

            .terms-and-conditions-1{
                text-decoration: underline;
                text-align: center;
                color: #373a3c;
                display: block;
            }

        }

        /*MENU STYLING*/
        .kompanion-logo-li {
            display: none !important;
        }
        .mobile-logo-wrapper{
            width: 100%;
            position: fixed;
            background-color: #C5E1C1;
            height: auto;
            z-index: 9999999 !important;

            .kompanion-mobile-logo{
                width: 33%;

                display: block;
                margin: 10px auto;
                height: auto;
            }
        }

        #wrapper{
            width:100%;
            float: right;
            display: block;
            margin-bottom: 23%;
                margin-top: 23%;
        }

        #menu{
            font-family: 'Raleway', sans-serif;
            nav{
                width:100%;
                height: 65px;
                bottom: 0px;
                position: fixed;
                background-color: #1c1c1f;

                ul{
                    display: block;
                    width: 100%;
                    margin: 13px auto;
                    padding: 0px;

                    li{
                        list-style: none;
                        display: block;
                        float: left;
                        width: 25%;
                        padding: 1% 0% !important;
                        &:hover a{
                            color:#94ffc6
                        }

                        &:hover i {
                            color: #94ffc6
                        }

                        a{
                            display: block;
                            margin: 10% auto;
                            text-align: center;
                            padding: 5px;
                            color: #88898c;
                            text-decoration: none;
                            font-size: 0.66em;

                            i{
                                display: block;
                                width:100%;
                                text-align: center;
                                font-size: 2em;
                                color: #88898c;
                                margin-top:4%;
                            }
                        }
                    }
                }

                ul{
                    display: block;
                    width: 100%;
                    margin: 0px auto;
                    border-top: #1f1f1f 1px solid;

                    li{
                        list-style: none;
                        padding: 5%;

                        &:hover a{
                            color:#94ffc6
                        }

                        &:hover i {
                            color: #94ffc6
                        }

                        a{
                            display: block;
                            margin: 2% auto;
                            text-align: center;
                            padding: 5px;
                            color: #88898c;
                            text-decoration: none;
                            font-size: 0.57em;

                            i{
                                display: block;
                                width:100%;
                                text-align: center;
                                color: #88898c;
                            }
                        }
                        .profile{
                            
                        }

                        .profile-picture{
                            width: 60%;
                            margin: 10% 20%;
                            border-radius: 50px !important;
                        }
                    }
                }
            }
        }

        /*index site*/


        #index-site{
            .btn-create-event{
                width:70%;
                color: white;
                background-color: #0f6c3a;
                margin: 2.5% auto;
                display: block;
                padding:3%;
                text-align: center;
                box-shadow: 0;
                border: none;
                cursor: pointer;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                    cursor:pointer;
                }

                &:active{
                    box-shadow: 0;
                    border: none;
                }
            }

            .border-box{
                width: 70%;
                margin: 0 auto;
                display: block;

                h3{
                    text-align: center;
                    color: black;
                }
            }

            h3{
                text-align: center;
            }
        }


        /*SEARCH*/

        #search{
            h2{
                text-align: center;
            }
            .search-bar{
                width: 98%;
                margin: 3px auto;
                display: block;
                border-radius: 3px;
                padding: 3% 2%;
                box-shadow: 1px 0px -1px 0px darkgray;
                border: 1px solid darkgray;
            }

            .dates-wrapper{
                width: 80%;
                margin: 2px auto;
                display: block;

                .btn-date{
                    width: 50%;
                    padding: 6%;
                    border: 0;

                    &:first-child{
                        border-right: 1px solid lightgray; 
                    }
                }
            }

            .btn-search{
                width: 80px;
                height: 80px;
                border-radius: 80px;
                border: none;
                background-color: #63c67c;
                margin: 5% auto 0px;
                color: white;
                display: block;
                font-weight: 600;
                font-size: 1.3em;

                &:active{
                    background-color: darkgreen;
                }

                &:hover{
                    cursor: pointer;
                }
            }

            .rc-calendar-range{
                overflow: hidden;
                margin: 3px auto;
                width: 98%;
                display: block;
            }

            .rc-calendar-range-left{
                float: left;
                width: 50%;
            }

            .rc-calendar-range-right{
                float: right;
                width: 50%;
            }
        }

        /*BROWSE*/
        #browse{
            h2{
                text-align: center;
            }
        }


        /*EVENT THUMBNAILS*/

        .event-lg{
            width: 80%;
            display: block;
            margin: 0 auto;
            .event-date-wrapper{
                position: absolute;
                width: 74%;
                margin: 2% 3%;

                span{

                    i{
                        float: left;
                        font-size: 1.4em;
                        color: gray;
                    }

                    p{
                        font-size: 0.9em;
                        margin: 7px 10px;
                        display: -webkit-inline-box;
                    }
                }
            }

            .event-image{
                display: block;
                margin: 0 auto;
                width: 100%;

            }

            .btn-to-event{
                width: 100%;
                margin: 10px auto 30px;
                display: block;
                background-color: #0f6c3a;
                padding: 14px;
                text-align: center;
                color: white;
                box-shadow: 1px 1px 0px 1px lightgray;
            }
        }

        .event-sm{
            .event-date-wrapper{

            }

            .event-image{
                
            }
        }


        #create-event{
            h2{
                text-align: center;
            }

            .image-uploader{
                width: 80%;
                margin: 0 auto;
                display: block;

                button{
                    width: 50%;
                    padding: 20px;
                    /* margin: 0 2%; */
                    color: white;
                    background-color: #106d3a;
                    border: none;
                }

                .event-wrapper{
                    text-align: left;
                    margin: 5px 0;

                    h5{

                    }

                    input{
                        width: 100%;
                        padding: 2%;
                    }

                    .btn-date{
                        width: 35%;
                        padding: 13px;
                        margin: 0 15% 0 0;
                        color: white;
                        background-color: #106d3a;
                        border: none;
                    }

                    .btn-time{
                        width: 35%;
                        padding: 13px;
                        margin: 0 0 0 15%;
                        color: white;
                        background-color: #106d3a;
                        border: none;
                    }
                }

                .event-buttons-wrapper{
                    button{
                        width:100%;
                        margin: 2px auto;
                        display: block;
                        padding:10px;
                    }
                }
            }
        }

        /*SETTINGS*/

        #settings-wrapper{
            h2{
                text-align: center;
            }

            img{
                display: block;
                margin: 1px auto;
                width: 17%;
                height: auto;
                border-radius: 100px;
            }

            p{
                text-align: center;
                font-weight: bold;
            }

            a{
                text-align: center;
                width: 100%;
                display: block;
                color: black;
                text-decoration: underline;
                margin: 25px 0px;
            }

            .btn-log-out{
                width: 33%;
                padding: 6px;
                border: none;
                color: white;
                background-color: #ca7676;
                margin: 4px auto;
                display: block;
                cursor: pointer;
            }

            .btn-delete-account{
                width: 33%;
                margin: 2px auto;
                display: block;
                color: darkgray;
                background-color: white;
                border: none;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .admin-nav{
            width: 78%;
            .link{
                display: block;
                float: left;
                background-color: white;
                padding: 2.6%;
                color: darkgray;

                &:hover{
                    background-color: darkgray;
                    padding: 2.1%;
                    color: white;
                    margin: 0.5%;
                }
            }

            .link-out{
                float: right !important;
                margin: 1%;
                display: block;
            }
        }

        .admin-content-wrapper{
            padding:3%;
        }
    }
}